.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @include mobile {
    width: 320px;
  }

  @include tablet {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include desktop {
    width: 1280px;
  }
}
