// utils

@import './utils/modern-normalize';
@import './utils/fonts';
@import './utils/reset';
@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/mixins';
@import './utils/lightTheme';

// base

@import './base/common';
@import './base/container';
@import './base/cursor';

// components
@import './components/buttons.scss';
@import './components/scrollbar';
@import './components/loader';
@import './components/scroll-up';

// layout

@import './layout/header';
@import './layout/hero';
@import './layout/upcoming-this-month';
@import './layout/weekly-trends';
@import './layout/footer';

// pages

// catalog

@import './layout/pages/catalog/hero';
@import './layout/pages/catalog/catalog-gallery';

// my-library

@import './layout/pages/my-library/hero';
@import './layout/pages/my-library/my-library';
@import './layout/pages/my-library/content-text-message';
@import './layout/pages/my-library/select-genres';

// modal-windows

@import './layout/modal-windows/modal-popup';
