<section class="hero-default">
  <div class="hero-content-lib container">
    <h1 class="hero-title-lib">Create Your Dream Cinema</h1>

    <p class="hero-description-lib">Is a guide to designing a personalized movie theater experience with the right
      equipment, customized decor, and favorite
      films. This guide helps you bring the cinema experience into your own home with cozy seating, dim lighting, and
      movie
      theater snacks.</p>

    <picture class="hero-picture-library">
      <source srcset="
          /src/images/hero-des-2-1x-min.jpg 1x,
          /src/images/hero-des-2-2x-min.jpg 2x" width="1280" media="(min-width: 1280px)" />

      <source srcset="
          /src/images/hero-tab-2-1x-min.jpg 1x,
          /src/images/hero-tab-2-2x-min.jpg 2x" width="768" media="(min-width: 768px)" />

      <img src="/src/images/hero-mob-2-1x-min.jpg" width="320" alt="kino" srcset="
          /src/images/hero-mob-2-2x-min.jpg 2x" />
    </picture>


  </div>
</section>