<section id="my-library" class="my-library">
  <div class="container">
    <div class="my-library-content js-my-library-content">
      <select
        id="my-library-genre-list"
        class="my-library-genre-list js-my-library-genre-list"
      >
        <option value="All">All Genres</option>
      </select>

      <ul
        class="js-open-modal-movie my-library-movies-list js-my-library-movies-list"
      ></ul>
      <button
        type="button"
        class="my-library-load-more-button js-my-library-load-more-button button-accent"
      >
        Load more
      </button>
    </div>
  </div>
</section>
