.light {
  background-color: $light-color;
}
////// --------- Біла тема хедеру--------///////
.light .header {
  background-color: $light-color;
}

.light .header-nav-link {
  color: $color-subtitles-white-theme;
}
.light .hero-content {
  background-color: $light-color;
}

.light .logo-title {
  color: $text-color-for-white-theme;
}
////// --------- Біла мобільної навігації--------///////
.light .mobile-menu-content {
  background-color: $light-color;
}

.light .mobile-menu-nav-link {
  color: $dark-color;
}
////// --------- Біла  каталогу карток та тижневих трендів--------///////
.light .weekly-title {
  color: $dark-color;
}

.light .catalog-gallery-input,
.light .catalog-gallery-select,
.light .catalog-gallery-input-search {
  color: $color-subtitles-white-theme;
  border: 1px solid $dark-color;
}

.light .catalog-gallery-input::placeholder {
  color: $color-subtitles-white-theme;
}
////// --------- Біла Upcoming Soon--------///////
.light .one-title,
.light .info-item-title,
.light .info-item b,
.light .info-item-about-thirty {
  color: $dark-color;
}

////// --------- Біла  тексту помилки в бібліотеці--------///////
.light .my-library-content-text-message {
  color: $dark-color;
}

////// --------- Біла мобільної футеру--------///////
.light .footer-content {
  color: $color-subtitles-white-theme;
}
.light .footer-command-info {
  color: $color-subtitles-white-theme;
}
