//colors//
$light-color: #ffffff;
$accent-color: #f87719;
$color-subtitles: #b7b7b7;
$button-background-color: linear-gradient(
  141.22deg,
  #ffc226 9.4%,
  #f84119 91.91%
);
$text-color: #f8f8f8;
$background-color-for-svg: linear-gradient(
  141.22deg,
  #f84119 9.4%,
  rgba(248, 159, 25, 0.68) 91.91%
);
$dark-color: #111111;
$text-color-for-white-theme: #282828;
$color-subtitles-white-theme: #595959;

//cubic//
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

// cursors
$cursor-default: url('../images/cursor/cursor-orange&black.svg'), pointer;
$cursor-hover: url('../images/cursor/cursor-orange&white.svg'), pointer;
