<section class="catalog-gallery-section">
  <div class="container">
    <form id="catalog-gallery-form">
      <input type="text" id="catalog-gallery-input" placeholder="Search" />
      <select id="catalog-gallery-select">
        <option value="">Year</option>
      </select>
      <button
        class="catalog-gallery-btn"
        type="submit"
        aria-label="search button"
      >
        <svg class="catalog-gallery-svg" width="14" height="14">
          <use
            class="catalog-gallery-icon"
            href="./images/sprite/sprite.svg#icon-search"
          ></use>
        </svg>
      </button>
    </form>

    <div class="catalog-gallery">
      <!-- Відображення фільмів -->
    </div>

    <div class="catalog-gallery-pagination">
      <!-- Посилання на сторінки будуть додані динамічно через JavaScript -->
    </div>
  </div>
</section>
