<section class="catalog-gallery-section">
  <div class="container">
    <form id="catalog-gallery-form" class="catalog-gallery-form">
      <div class="catalog-input-container">
        <input
          type="text"
          id="catalog-gallery-input"
          class="catalog-gallery-input"
          placeholder="Search"
        />

        <button
          id="clear-search-btn"
          class="catalog-clear-search-btn"
          aria-label="clear search button"
        >
          <svg class="catalog-gallery-clear-icon" width="12" height="12">
            <use
              class="catalog-gallery-icon"
              href="./images/sprite/sprite.svg#icon-close"
            ></use>
          </svg>
        </button>
      </div>

      <select id="catalog-gallery-select" class="catalog-gallery-select">
        <option value="">Year</option>
      </select>

      <!-- <div class="catalog-gallery-mobile-wrapper">
        <input
          type="text"
          id="catalog-gallery-input-mobile"
          class="catalog-gallery-input-search"
          placeholder="Search"
        />
      </div> -->

      <button
        class="button-accent catalog-gallery-btn"
        type="submit"
        aria-label="search button"
      >
        <svg class="catalog-gallery-svg" width="18" height="18">
          <use
            class="catalog-gallery-icon"
            href="./images/sprite/sprite.svg#icon-search"
          ></use>
        </svg>
      </button>
    </form>

    <ul class="js-open-modal-movie catalog-gallery">
      <!-- Відображення фільмів -->
    </ul>

    <div class="catalog-gallery-pagination">
      <!-- Посилання на сторінки будуть додані динамічно через JavaScript -->
    </div>
  </div>
</section>
