<section class="hero">
  <div class="hero-content-js container">
    <h1 class="hero-title">Film</h1>

    <div class="hero-stars">
      <img src="./images/Frame 49.svg" alt="">
    </div>

    <p class="hero-description">Salt-of-the-earth Cole falls head over heels for enigmatic Sadie — but then makes the
      shocking discovery that she’s a
      secret agent.</p>
    <div class="hero-buttons">

      <button class="hero-button-trailer">
        Watch trailer
      </button>

      <button class="hero-button-moredetails">
        More details
      </button>
    </div>
  </div>
</section>