<section class="hero-default">
  <h2 class="visually-hidden">hero</h2>
  <swiper-container style="
      --swiper-pagination-color: #f8f8f8;
      --swiper-pagination-bottom: 8px;
      --swiper-pagination-top: auto;
      --swiper-pagination-fraction-color: inherit;

      --swiper-pagination-progressbar-size: 4px;

      --swiper-pagination-bullet-width: 10px;
      --swiper-pagination-bullet-height: 10px;
      --swiper-pagination-bullet-inactive-color: rgb(248, 65, 25);
      --swiper-pagination-bullet-inactive-opacity: 1;
      --swiper-pagination-bullet-opacity: 1;
      --swiper-pagination-bullet-horizontal-gap: 8px;
      --swiper-pagination-bullet-vertical-gap: 8px;
    " ; class="mySwiper hero-catalog" pagination="true" pagination-clickable="true" space-between="30"
    centered-slides="true" autoplay-delay="2999">
  </swiper-container>
</section>