.hero-description-lib {
  color: $text-color;

  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  margin-bottom: 20px;
  max-width: 249px;

  position: inherit;
  z-index: 3;

  @media screen and (min-width: 768px) {
    max-width: 357px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.19;
    min-width: 464px;
    margin-bottom: 32px;
  }
}

.hero-title-lib {
  color: $light-color;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;

  margin-bottom: 8px;
  max-width: 230px;
  position: inherit;
  z-index: 3;

  @media screen and (min-width: 768px) {
    max-width: 332px;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.18;
    margin-bottom: 12px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 64px;
    line-height: 1.17;
    margin-bottom: 16px;
    max-width: 464px;
  }
}

.hero-content-lib {
  position: relative;
  min-width: 320px;
  min-height: 380px;
  padding-top: 40px;
  overflow: hidden;
  background-position-x: 55px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      86.77deg,
      #111111 10.38%,
      rgba(17, 17, 17, 0) 45.61%
    ),
    url('/src/images/hero-mob-2-1x-min.jpg');
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 767px) and (min-resolution: 192dpi),
  screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero-content-lib {
    background-image: linear-gradient(
        86.77deg,
        #111111 10.38%,
        rgba(17, 17, 17, 0) 45.61%
      ),
      url('/src/images/hero-mob-2-2x-min.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero-content-lib {
    padding-top: 62px;
    min-height: 432px;
    background-position-x: 200px;
    background-image: linear-gradient(
        82.55deg,
        #111111 10%,
        rgba(17, 17, 17, 0) 45.95%
      ),
      url('/src/images/hero-tab-2-1x-min.jpg');
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-content-lib {
    background-position-x: 200px;
    background-image: linear-gradient(
        82.55deg,
        #111111 10%,
        rgba(17, 17, 17, 0) 45.95%
      ),
      url('/src/images/hero-tab-2-2x-min.jpg');
  }
}

@media screen and (min-width: 1280px) {
  .hero-content-lib {
    padding-top: 169px;
    min-height: 720;
    background-position-x: 280px;
    background-image: linear-gradient(
        83.16deg,
        #111111 15%,
        rgba(17, 17, 17, 0) 45%
      ),
      url('/src/images/hero-des-2-1x-min.jpg');
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (min-resolution: 192dpi),
  screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero-content-lib {
    background-position-x: 280px;
    background-image: linear-gradient(
        83.16deg,
        #111111 15%,
        rgba(17, 17, 17, 0) 45%
      ),
      url('/src/images/hero-des-2-2x-min.jpg');
  }
}
