.my-library {
  padding-top: 40px;
  padding-bottom: 12px;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  @include desktop {
    padding-top: 80px;
    padding-bottom: 16px;
  }
}

.my-library-genre-list {
  max-width: 260px;
  max-height: 48px;
  margin-bottom: 48px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14; /* 16px/14 */

  color: #b7b7b7;

  @include tablet {
    max-width: 144px;
    max-height: 44px;
    margin-bottom: 36px;
  }

  @include desktop {
    max-width: 173px;
    max-height: 40px;
    margin-bottom: 16px;
  }
}

.my-library-movies-list {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 28px;
  }

  @include desktop {
    column-gap: 15px;
    row-gap: 32px;
    margin-bottom: 24px;
  }
}

.my-library-load-more-button {
  display: none;
  margin: 0 auto;
}
