<!-- overlay -->
<div class="overlay visual" id="overlayPopUp"></div>
<!--PopUp-->
<div class="pop-up-modal visual" id="modalPopUp">
  <button class="pop-up-modal__close" id="closeModalPopUp">
    <svg width="18" height="18" class="pop-up-modal__close-icon">
      <use href="./images/sprite/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <div class="pop-up-modal__container">
    <img src="#" alt="image.png" class="pop-up-modal__img" />
    <div class="pop-card">
      <h2 class="pop-up-modal__title"></h2>
      <div class="pop-up-modal__blok">
        <ul class="pop-up-modal__list">
          <li class="pop-up-modal__link">Vote / Votes</li>
          <li class="pop-up-modal__link">Popularity</li>
          <li class="pop-up-modal__link">Genre</li>
          <li class="pop-up-modal__link">ABOUT</li>
        </ul>
        <ul class="pop-up-modal__list">
          <li class="pop-up-modal__link-item item-votes">
            <div class="vote"></div>
            &nbsp;/&nbsp;
            <div class="votes"></div>
          </li>
          <li class="pop-up-modal__link-item popularity"></li>
          <li class="pop-up-modal__link-item genres"></li>
        </ul>
      </div>
      <div class="pop-up-modal__about">
        <p class="pop-up-modal__about-txt"></p>
      </div>
      <button class="button-accent" id="mylibrary">Add to my library</button>
    </div>
  </div>
</div>
