<footer class="footer">
  <div class="container footer-wrapper">
    <p class="footer-content">© 2023 | All Rights Reserved |</p>
    <p class="footer-team-info">
      Developed with
      <svg class="icon-heart animate__animated animate__pulse" width="14" height="14">
        <use href="./images/sprite/sprite.svg#icon-heart" width="14" height="14"></use>
      </svg>
      by
      <button type="button" class="footer-link team-modal-link-js">
        GoIT Students
      </button>
    </p>
  </div>

  <div class="footer-modal-backdrop is-hidden">
    <audio class="visually-hidden" controls loop>
      <source src="./images/sadness_and_sorrow.mp3" type="audio/mpeg" />
    </audio>
    <div class="footer-modal-content">
      <button type="button" class="footer-modal-close-btn">
        <svg class="modal-close-icon" width="10" height="10">
          <use href="./images/sprite/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="footer-modal-title-wrapper">
        <svg class="footer-modal-logo" width="35" height="35">
          <use href="./images/sprite/sprite.svg#icon-modal-footer"></use>
        </svg>
        <h1 class="footer-modal-title">Team of Web Anonymous</h1>
        <svg class="footer-modal-logo" width="35" height="35">
          <use href="./images/sprite/sprite.svg#icon-modal-footer"></use>
        </svg>
      </div>
      <ul class="team-list">

      </ul>
    </div>
  </div>
</footer>