<footer class="footer">
  <div class="container footer-wrapper">
    <p class="footer-content">© 2023 | All Rights Reserved |</p>
    <p class="footer-command-info">
      Developed with
      <svg class="icon-heart" width="14" height="14">
        <use
          href="./images/sprite/sprite.svg#icon-heart"
          width="14"
          height="14"
        ></use>
      </svg>
      by
      <a href="#" class="footer-link command-modal-link-js">GoIT Students</a>
    </p>
  </div>

  <div class="footer-modal-backdrop">
    <div class="footer-modal-content">
      <h2 class="footer-modal-title"></h2>
    </div>
  </div>
</footer>
