<footer class="footer">
  <div class="container footer-wrapper">
    <p class="footer-content">© 2023 | All Rights Reserved |</p>
    <p class="footer-team-info">
      Developed with
      <svg
        class="icon-heart animate__animated animate__pulse"
        width="14"
        height="14"
      >
        <use
          href="./images/sprite/sprite.svg#icon-heart"
          width="14"
          height="14"
        ></use>
      </svg>
      by
      <button type="button" class="footer-link team-modal-link-js">
        GoIT Students
      </button>
    </p>
  </div>

  <div class="footer-modal-backdrop is-hidden">
    <div class="footer-modal-content">
      <button type="button" class="footer-modal-close-btn">
        <svg class="modal-close-icon" width="10" height="10">
          <use href="./images/sprite/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <h1 class="footer-modal-title">Our team</h1>
      <ul class="team-list">
        <li class="team-item">
          <img
            class="team-img"
            src="./images/team-photo/photo_2023-06-12_21-01-38.jpg"
            alt="Yan
          Lozovskiy"
            width="200px"
            height="180px"
            loading="lazy"
          />
          <div class="team__box">
            <h2 class="team__member">Yan Lozovskiy</h2>
            <p class="team__role">Team Lead</p>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./images/team-photo/IMG_20220429_123018.jpg"
            alt="Ivanna Mykhalova"
            width="200px"
            height="180px"
            loading="lazy"
          />
          <div class="team__box">
            <h2 class="team__member">Ivanna Mykhalova</h2>
            <p class="team__role">Scrum Master</p>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./images/team-photo/IMG_0393.jpg"
            alt="Taras Vasylkiv"
            width="200px"
            height="180px"
            loading="lazy"
          />
          <div class="team__box">
            <h2 class="team__member">Taras Vasylkiv</h2>
            <p class="team__role">Tech Lead</p>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./images/team-photo/IMG_2282.png"
            alt="Sergiy"
            width="180px"
            height="180px"
            loading="lazy"
          />
          <div class="team__box">
            <h2 class="team__member">Sergiy</h2>
            <p class="team__role">Developer</p>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./images/team-photo/IMG_3030.jpg"
            alt="Olesia Kubska"
            width="200px"
            height="180px"
            loading="lazy"
          />
          <div class="team__box">
            <h2 class="team__member">Olesia Kubska</h2>
            <p class="team__role">Developer</p>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./images/team-photo/328278001_1828641447534600_7698199478400282315_n-removebg-preview.jpg"
            alt="Olexandr"
            width="200px"
            height="180px"
            loading="lazy"
          />
          <div class="team__box">
            <h2 class="team__member">Olexander</h2>
            <p class="team__role">Developer</p>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./images/team-photo/1671019061767.jpg"
            alt="Anastasia"
            width="200px"
            height="180px"
            loading="lazy"
          />
          <div class="team__box">
            <h2 class="team__member">Anastasia</h2>
            <p class="team__role">Developer</p>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./images/team-photo/IMG_20230306_173802_347~2.jpg"
            alt="Nosorog"
            width="200px"
            height="180px"
            loading="lazy"
          />
          <div class="team__box">
            <h2 class="team__member">Ihor</h2>
            <p class="team__role">Developer</p>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./images/team-photo/T04S1TL52NR-U04S80B1R35-e393e89beafd-512.png"
            alt="Victoria"
            width="200px"
            height="180px"
            loading="lazy"
          />
          <div class="team__box">
            <h2 class="team__member">Victoria</h2>
            <p class="team__role">Developer</p>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="team-item">
          <img
            class="team-img"
            src="./images/team-photo/photo_2023-06-11_20-03-56.jpg"
            alt="Iryna Hodovanets"
            width="200px"
            height="180px"
            loading="lazy"
          />
          <div class="team__box">
            <h2 class="team__member">Iryna Hodovanets</h2>
            <p class="team__role">Developer</p>
            <a
              class="team__link-linkedin team__link-linkedin--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
            <a
              class="team__link-github team__link-github--active"
              target="_blank"
              rel="noopener noreferrer nofollow"
              href="#"
            >
              <svg class="team__icon" width="25" height="25">
                <use href="./images/sprite/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
