<section class="hero-default">
  <div class="hero-content container">
    <h1 class="hero-title">Let’s Make Your Own Cinema</h1>
    <p class="hero-description">Is a guide to creating a personalized movie theater experience. You'll need a projector,
      screen, and speakers.</p>

    <a class="hero-link" href="./catalog.html">Get Started</a>

    <picture class="hero-picture">
      <source srcset="
          /src/images/hero-des-1-1x-min.jpg 1x,
          /src/images/hero-des-1-2x-min.jpg 2x" width="1280" media="(min-width: 1280px)" />

      <source srcset="
          /src/images/hero-tab-1-1x-min.jpg 1x,
          /src/images/hero-tab-1-2x-min.jpg 2x" width="768" media="(min-width: 768px)" />

      <img src="/src/images/hero-mob-1-1x-min.jpg" width="320" alt="kino" srcset="
          /src/images/hero-mob-1-2x-min.jpg 2x" />
    </picture>
  </div>
</section>