<section class="hero-default">
  <div class="hero-content container">
    <h1 class="hero-title">Let’s Make Your Own Cinema</h1>

    <p class="hero-description">Is a guide to creating a personalized movie theater experience. You'll need a projector,
      screen,
      and speakers.</p>

    <a class="hero-link" href="./catalog.html">Get Started</a>
    <a href="/src/my-library.html">Library</a>

    <picture class="hero-picture">
      <source srcset="
      ./images/hero-des-1-1x-min.jpg  1x,
      ./images/hero-des-1-2x-min.jpg 2x
              " width="1280" media="(min-width:1280px)" />

      <source srcset="
         ./images/hero-tab-1-1x-min.jpg  1x,
          ./images/hero-tab-1-2x-min.jpg  2x
        " width="768" media="(min-width:768px)" />
      <img src="./images/hero-mob-1-1x-min.jpg" width="320" alt="hotel" srcset="
        ./images/hero-mob-1-2x-min.jpg 2x" />
    </picture>
  </div>
</section>

<section class="hero">
  <div class="hero-content-js container">
    <h1 class="hero-title">Film</h1>

    <div class="hero-stars">
      <img src="./images/Frame 49.svg" alt="">
    </div>

    <p class="hero-description-js">Salt-of-the-earth Cole falls head over heels for enigmatic Sadie — but then makes the
      shocking discovery that she’s a
      secret agent.</p>
    <div class="hero-buttons">

      <button class="hero-button-trailer">
        Watch trailer
      </button>

      <button class="hero-button-moredetails">
        More details
      </button>
    </div>
  </div>
</section>