<section class="weekly-trends">
  <div class="container">
    <div class="weekly-trends-wrapper--first">
      <h2 class="weekly-trends-title">WEEKLY TRENDS</h2>
      <a href="./catalog.html" class="weekly-trends-link">See all</a>
    </div>
    <div class="weekly-trends-wrapper--second">
      <ul class="weekly-trends-list"></ul>
    </div>
  </div>
</section>

<li class="weekly-trends-item">
  <a href="" class="weekly-trends-imgLink"
    ><img src="./catalog.html" alt="" class="weekly-trends-img"
  /></a>
  <div class="weekly-trends-textWrapper">
    <p class="weekly-trends-text"></p>
    <span class="weekly-trends-rating"></span>
  </div>
</li>
