.button-visible {
  display: none;
}

@media screen and (min-width: 768px) {
  .button-visible {
    display: block;
    position: fixed;
    opacity: 0.5;
    right: 50px;
    bottom: 30px;
    z-index: 99;
    transition: transform 1100ms cubic-bezier(1, 0.67, 0.44, 1.91),
      visibility 1100ms cubic-bezier(1, 0.67, 0.44, 1.91),
      opacity 1100ms cubic-bezier(1, 0.67, 0.44, 1.91);
    transform: translateY(0);
  }

  .button-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(200px);
  }

  .button-top-icon {
    display: block;
    height: 50px;
    padding: 5px;
    border-radius: 40%;
    background-color: rgba(255, 255, 255, 0.3);
    fill: black;
    stroke: black;

    transition: fill 250ms $cubic, stroke 250ms $cubic;
  }

  .button-top-icon:hover,
  .button-top-icon:focus {
    fill: $accent-color;
    stroke: $accent-color;
  }
}

.button-visible:hover,
.button-visible:focus {
  opacity: 0.8;
}

.scroll-up--svg:hover {
  fill: $dark-color;
}

// .scroll-up--button {
//   border-radius: 50%;
//   background-color: $accent-color;
//   border: none;

//   position: fixed;
//   right: 20px;
//   bottom: 20px;

//   visibility: hidden;
// }

// .scroll-up--button---shown {
//   visibility: visible;
// }

// .scroll-up--svg {
//   width: 30px;
//   height: 30px;
//   fill: $light-color;

//   @include tablet {
//     width: 50px;
//     height: 50px;
//   }
// }

// .scroll-up--button:hover {
//   background-color: #f84119;
// }
// #back-to-top {
//   position: fixed;
//   right: 20px;
//   bottom: 20px;
//   display: none;
//   border: none;
//   background-color: transparent;
// }

// .scroll-up__icon {
//   width: 50px;
//   height: 50px;
//   fill: $orange-color;
//   transition: fill 0.2s ease-in-out;

//   &--active:hover {
//     fill: $red-color;
//   }
// }
