.hero-default {
  margin-left: auto;
  margin-right: auto;

  width: 320px;
  height: 470px;
  @media screen and (min-width: 768px) {
    height: 520px;
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    height: 660px;
    width: 1280px;
  }
}

.hero-content {
  background-color: $dark-color;
  position: relative;
  overflow: hidden;
}
.hero-film_background {
  border-radius: 20px;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 470px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    // padding-top: 36px;

    width: 768px;
    height: 520px;
  }

  @media screen and (min-width: 1280px) {
    // padding-top: 70px;
    height: 660px;
    width: 1280px;
  }
}
.hero-picture {
  position: absolute;
  right: 0;
  top: 0;

  background-repeat: no-repeat;
  background-position: right;

  @media screen and (min-width: 768px) {
    padding-top: 62px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 169px;
    height: 660px;
  }
}
.hero-title {
  color: $light-color;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;

  margin-bottom: 8px;
  min-width: 199px;
  position: inherit;
  z-index: 3;

  @media screen and (min-width: 768px) {
    max-width: 332px;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.18;
    margin-bottom: 12px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 55px;
    line-height: 1.08;
    margin-bottom: 16px;
    max-width: 464px;
  }
}

.hero-stars {
  margin-bottom: 20px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 28px;
  }
}

.hero-description-js {
  color: $text-color;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  margin-bottom: 20px;
  min-width: 166px;

  position: inherit;
  z-index: 3;
  @media screen and (min-width: 768px) {
    max-width: 357px;
    margin-bottom: 28px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 36px;
  }
}

.hero-link {
  z-index: 5;
  display: flex;
  max-width: 112px;
  border: 1px solid $accent-color;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  padding-left: 24px;

  color: $dark-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;

  position: inherit;

  @media screen and (min-width: 768px) {
    max-width: 122px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 14px;
    line-height: 1.43;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.5;
    max-width: 132px;
  }
}

.hero-link:hover,
.hero-link:focus {
  background: transparent;
  color: $light-color;
  border: 1px solid $light-color;
}

.hero-content-js {
  padding-top: 40px;

  background-color: $dark-color;

  height: 380px;

  position: inherit;
  z-index: 3;

  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    padding-top: 62px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 118px;
    height: 660px;
  }
}

.hero-buttons {
  display: flex;
  gap: 8px;
}

.hero-button-trailer {
  display: flex;
  min-width: 110px;
  border: 1px solid $accent-color;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  padding-left: 24px;

  color: $dark-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;

  position: inherit;
  z-index: 3;
  @media screen and (min-width: 768px) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 24px;
    padding-left: 24px;

    font-size: 14px;
    line-height: 1.43;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.5;
  }
}
.hero-button-trailer:hover,
.hero-button-trailer:focus {
  background: transparent;
  color: $light-color;
  border: 1px solid $light-color;
}

.hero-button-moredetails {
  border: 1px solid $light-color;
  border-radius: 74px;
  background-color: transparent;
  color: $light-color;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;

  position: inherit;
  z-index: 3;
  @media screen and (min-width: 768px) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 24px;
    padding-left: 24px;

    font-size: 14px;
    line-height: 1.43;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.hero-button-moredetails:hover,
.hero-button-moredetails:focus {
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  color: $dark-color;
  border: 1px solid $accent-color;
}

.hero-wrap {
  position: relative;
  z-index: 1;

  padding: 10px;
  padding-top: 17px;

  background-color: hsl(0, 0%, 0%, 40%);
  width: 280px;
  display: block;
  border-radius: 20px;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    padding: 25px;

    margin-bottom: auto;
    margin-left: 0;

    width: 430px;
    background-color: hsl(0, 0%, 0%, 70%);
    border: 2px solid $dark-color;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    margin: 0;
    width: 430px;
    border: 2px solid $dark-color;
  }
}

.hero-picture {
  z-index: 2;
}

.hero-picture-default {
  position: absolute;
  top: 0px;
  left: 0px;
}

.hero-description {
  color: $text-color;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  margin-bottom: 20px;
  min-width: 166px;

  position: inherit;
  z-index: 3;

  @media screen and (min-width: 768px) {
    max-width: 357px;
    margin-bottom: 28px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 36px;
  }
}

.hero-picture-default {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@include max-mobile {
  .hero-picture-default {
    background-position-x: 95px;
    background-image: linear-gradient(
        86.77deg,
        #111111 10.38%,
        rgba(17, 17, 17, 0) 45.61%
      ),
      url('/src/images/hero-mob-1-1x-min.jpg');
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 767px) and (min-resolution: 192dpi),
  screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero-picture-default {
    background-image: linear-gradient(
        86.77deg,
        #111111 10.38%,
        rgba(17, 17, 17, 0) 45.61%
      ),
      url('/src/images/hero-mob-1-2x-min.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero-picture-default {
    background-position-x: 200px;
    background-image: linear-gradient(
        82.55deg,
        #111111 10%,
        rgba(17, 17, 17, 0) 45.95%
      ),
      url('/src/images/hero-tab-1-1x-min.jpg');
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-picture-default {
    background-position-x: 200px;
    background-image: linear-gradient(
        82.55deg,
        #111111 10%,
        rgba(17, 17, 17, 0) 45.95%
      ),
      url('/src/images/hero-tab-1-2x-min.jpg');
  }
}

@media (min-width: 1280px) {
  .hero-picture-default {
    background-position-x: 280px;
    background-image: linear-gradient(
        83.16deg,
        #111111 15%,
        rgba(17, 17, 17, 0) 45%
      ),
      url('/src/images/hero-des-1-1x-min.jpg');
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (min-resolution: 192dpi),
  screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero-picture-default {
    background-position-x: 280px;
    background-image: linear-gradient(
        83.16deg,
        #111111 15%,
        rgba(17, 17, 17, 0) 45%
      ),
      url('/src/images/hero-des-1-2x-min.jpg');
  }
}
.hero-content-default {
  padding-top: 40px;
  position: relative;
  overflow: hidden;
  height: 380px;

  @media screen and (min-width: 768px) {
    min-height: 420px;
    padding-top: 62px;
  }

  @media screen and (min-width: 1280px) {
    min-height: 660px;
    padding-top: 169px;
  }
}
.hero-description-default {
  color: $text-color;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  margin-bottom: 20px;
  max-width: 166px;

  position: inherit;
  z-index: 3;
  @media screen and (min-width: 768px) {
    max-width: 357px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.19;

    max-width: 464px;
  }
}
.hero-title-default {
  color: $light-color;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;

  margin-bottom: 8px;
  max-width: 199px;
  position: inherit;
  z-index: 3;

  @media screen and (min-width: 768px) {
    max-width: 332px;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.18;
    margin-bottom: 12px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 64px;
    line-height: 1.17;
    margin-bottom: 16px;
    max-width: 464px;
  }
}

.hero-stars {
  margin-bottom: 17px;

  @media screen and (min-width: 768px) {
    margin-bottom: 22px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 22px;
  }
}

.basicLightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.basicLightbox--visible {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.basicLightbox iframe {
  width: 280px;
  height: 289px;
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 20px;
  @media screen and (min-width: 768px) {
    width: 609px;
    height: 400px;
  }

  @media screen and (min-width: 1280px) {
    width: 700px;
    height: 400px;
  }
}

.trailer-fail {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 280px;
  height: 289px;

  background-color: #111111;
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 20px;

  position: relative;

  padding-top: 39px;
  padding-left: 33px;
  padding-right: 33px;

  @media screen and (min-width: 768px) {
    display: block;
    width: 609px;
    height: 400px;
    padding: 132px 144px 176px 44px;
  }

  @media screen and (min-width: 1280px) {
    display: block;
    width: 700px;
    height: 400px;
    padding: 150px 329px 150px 50px;
  }
}
.bg-box {
  width: 159px;
  height: 153px;
  background-image: url('/src/images/modal-mobile-min.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    background-image: url('/src/images/modal-tablet-min.png');

    width: 296px;
    height: 260px;
    position: absolute;
    top: 35%;
    right: 0;
  }

  @media screen and (min-width: 1280px) {
    background-image: url('/src/images/modal-desktop-min.png');
    position: absolute;

    top: 70px;
    right: 2px;

    width: 363px;
    height: 318px;
  }
}

.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  // background-image: url('../img/sprite.svg#icon-x-button');
  background-color: transparent;
  display: block;
  width: 15px;
  height: 15px;

  border: none;
  padding: 0;

  outline: inherit;
  @include tablet {
    top: 31px;
    right: 31px;

    width: 18px;
    height: 18px;
  }
  @include desktop {
    top: 28px;
    right: 28px;

    width: 20px;
    height: 20px;
  }
}

.btn-close--svg {
  stroke: #f8f8f8;
  width: 10px;
  height: 10px;

  @media screen and (min-width: 768px) {
    width: 13px;
    height: 13px;
  }
}

.trailer-fail-text {
  font-style: normal;
  color: $text-color;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: $light-color;

  width: 214px;
  height: 65px;

  @include tablet {
    width: 321px;
    height: 92px;
    color: $light-color;

    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
  }
  @media screen and (min-width: 1280px) {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.6;
  }
}

.swiper-pagination {
  padding-top: 20px;
  outline: 2px solid greenyellow;
}

.swiper-pagination-bullet {
  width: 10px; /* Increase the size of the pagination circles */
  height: 10px;
  background-color: orange; /* Set the background color to orange */
  border: 1px solid black; /* Add a thin black border */
  margin: 0 5px; /* Adjust the spacing between the pagination circles */
}

.swiper-pagination-bullet-active {
  background-color: rgb(
    255,
    255,
    255
  ); /* Set the background color of the active pagination circle to blue */
}

// --swiper-pagination-color: var(--swiper-theme-color);
// --swiper-pagination-left: auto;
// --swiper-pagination-right: 8px;
// --swiper-pagination-bottom: 8px;
// --swiper-pagination-top: auto;
// --swiper-pagination-fraction-color: inherit;
// --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
// --swiper-pagination-progressbar-size: 4px;
// --swiper-pagination-bullet-size: 8px;
// --swiper-pagination-bullet-width: 8px;
// --swiper-pagination-bullet-height: 8px;
// --swiper-pagination-bullet-inactive-color: #000;
// --swiper-pagination-bullet-inactive-opacity: 0.2;
// --swiper-pagination-bullet-opacity: 1;
// --swiper-pagination-bullet-horizontal-gap: 4px;
// --swiper-pagination-bullet-vertical-gap: 6px;
