.home-upcoming {
  padding: 0px 20px 32px;
  @include tablet {
    min-height: 420px;
    padding: 0px 32px 77px;
  }
  @include desktop {
    min-height: 660px;
    padding: 0px 32px 100px;
  }
}

.one-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: $light-color;
  margin-bottom: 24px;
  @include tablet {
    font-size: 24px;
    line-height: 28px;
  }

  @include desktop {
    font-size: 28px;
    line-height: 33px;
  }
}
.gallery-item{
  @include tablet {
      
    }
  
    @include desktop {
      max-width: 390px;
      max-height: auto;
    }
}
.gallery-item_img { 
      max-width: 280px;
      max-height: 406px;
      border-radius: 5px;
  
      @include tablet {
        max-width: 400px;
        max-height: 704px;
      }
  
      @include desktop {
        max-width: 805px;
        max-height: 428px;
      }
    }

.info-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: $light-color;
  margin-bottom: 20px;

  @include tablet {
    font-size: 28px;
    line-height: 33px;
  }
  @include desktop {
    font-size: 32px;
    line-height: 38px;
  }
}

b {
  color: #b7b7b7;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: auto;
  text-decoration: none;
  @include tablet{

  }
  @include desktop {

  }
}
// b.info-item:not(:first-child){
//     text-transform: uppercase;
// }
.title-movie {
  font-weight: 900;
}

.image-upcoming {
  border-radius: 5px;
  margin-bottom: 24px;
  @include tablet {
    margin-bottom: 32px;
  }
  @include desktop {
    margin-bottom: 0px;
    margin-right: 16px;
  }
}

.info {
  margin-bottom: 20px;
  @include tablet{
    display: flex;
   
    justify-content: space-between;
  }
    @include desktop{
      display: flex;
      flex-direction: column;

    }
}
.info-item {
  font-size: 16px;
  line-height: 19px;
  color: $light-color;
  display: flex;
  @include tablet{
    display: flex;
  }
  
  // align-items: center;
  // justify-content: space-between;
}
.info-item-fourth{
  background:$light-color;
    border-radius: 5px;
    width: 36px;
      height: 18px;
      padding: 1px 8px;
       
}
.vote-text{
  font-size: 14px;
    line-height: 16px;
    display: flex;
    // align-items: center;
    // text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #111111;
}
.info-item-second {
  color: #f87719;
  text-transform: uppercase;
}
.info-item-thirty{
  font-size: 16px;
    line-height: 19px;
    
    text-transform: uppercase;
    color: #B7B7B7;
}
.info-item:not(:last-child) {
  margin-bottom: 12px;
}
 
.info-item-about-movie{
display: flex;
 flex-direction: column;
 gap: 16px;
font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #F8F8F8;
    text-align: left;
}
    // text-transform: uppercase;
.movieDescription{
  @include desktop{
    display: flex;
    justify-content: center;
  //  width: 1211px;
    
  }
}
// .image-upcoming{
//   @include desktop{
// width: 458px;
//   }
  
// }
.info-item-one-part{
  margin-bottom: 12px;
  @include tablet{

  }
    @include desktop {

    }
}
.info-item-about {
  margin-bottom: 20px;
}
