button{
    background: linear-gradient(141.22deg, #FFC226 9.4%, #F84119 91.91%);
    border-radius: 74px;
    color: #111111;
    display: flex;
        flex-direction: row;
        // align-items: flex-start;
        
    padding: 12px 24px;
    //  width: 155px;
    //     height: 40px;
        // left: 821px;
        // top: 474px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    
}
// .item{
//     width: 107px;
//     height: 16px;
// }
// .home-upcoming{
//     background-color: #111111;
// }

b {
    color: #B7B7B7;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-right: 20px;
}
 .title-movie{
font-weight: 900
 }
// .element-style {
// background-image: 
// }
 
 
        
//     display: flex;
// font-style: normal;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 19px;

