// .sectionWeeklyrends {
//   background-color: tomato;
// }
.weekly-trends {
  padding: 40px 20px 32px 20px;
  @include tablet {
    padding: 52px 32px 44px 32px;
  }
  @include desktop {
    padding: 80px 32px 60px 32px;
  }
}

.card-list {
  @include tablet {
    display: flex;
    gap: 16px;
    align-items: baseline;
  }
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 24px;
  @include desktop {
    margin-bottom: 28px;
  }
}

.weekly-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: $light-color;

  @include tablet {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
  }

  @include desktop {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;

    text-transform: uppercase;
  }
}

.weekly-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $accent-color;

  @include tablet {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
  @include desktop {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
  }
}

.card-list-item {
  max-width: 280px;
  min-height: 406px;
  border-radius: 5px;
  position: relative;
  @include tablet {
    max-width: 224px;
    min-height: 325px;
  }
  @include desktop {
    max-width: 395px;
    min-height: 574px;
  }
}

.card-list-item:hover {
  transform: scale(1.01);

  box-shadow: 1px 1px 15px 4px rgba(114, 109, 106, 0.42);
}

.card-list-img {
  max-width: 280px;
  max-height: 406px;
  border-radius: 5px;

  @include tablet {
    max-width: 224px;
    max-height: 325px;
  }
  @include desktop {
    max-width: 395px;
    max-height: 574px;
  }
}

.text-wrapper {
  position: absolute;
  left: 12px;
  bottom: 12px;

  &-filmName {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: $light-color;
    @include tablet {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
    }
    @include desktop {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-transform: uppercase;
    }
  }

  &-nameAndGenres {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: $color-subtitles;

    @include tablet {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
    }
    @include desktop {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
    }
  }
}

.card-list li:not(:first-child) {
  @media (max-width: 767px) {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
  }
}

.card-list-rating {
  display: none;
}

.card-overlay {
  height: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}
