<!-- <div class="scro-up">
  <a href="#back-to-top" class="scroll-up--button">
    <svg class="scroll-up--svg">
      <use href="./images/sprite/sprite.svg#icon-arrow-up"></use>
    </svg>
  </a>
</div> -->

<div
  class="js-scroll-up-button button-visible button-hidden animate__animated animate__pulse animate__infinite infinite"
  id="button-top"
>
  <a class="button-top-link" href="#back-to-top">
    <svg class="button-top-icon" width="42" height="42">
      <use href="./images/sprite/sprite.svg#button-top"></use>
    </svg>
  </a>
</div>
