.catalog-gallery-section {
  padding-top: 40px;
  margin-bottom: 40px;

  @include tablet {
    padding-top: 60px;
    margin-bottom: 60px;
  }

  @include desktop {
    padding-top: 80px;
    margin-bottom: 100px;
  }
}

.catalog-gallery-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 12px;

  width: 200px;
  margin: 0 auto 16px auto;

  @include tablet {
    flex-wrap: nowrap;
    width: 355px;
    margin-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    width: 502px;
    margin-bottom: 48px;
    gap: 16px;
  }
}

.catalog-gallery-input,
.catalog-gallery-input-search {
  background-color: transparent;
  color: $color-subtitles;

  height: 40px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid $light-color;
  border-radius: 8px;

  @include tablet {
    height: 44px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  @include desktop {
    height: 48px;
  }
}

.catalog-gallery-input,
.catalog-gallery-input-search {
  padding-left: 20px;
}

.catalog-gallery-input {
  width: 200px;

  @include tablet {
    max-width: 100%;
    width: 188px;
  }

  @include desktop {
    width: 315px;
  }
}

.catalog-gallery-input::placeholder {
  color: $color-subtitles;
}

// .catalog-gallery-select {
//   padding-left: 16px;
//   width: 95px;
// }

.catalog-gallery-input-search {
  width: 224px;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.catalog-gallery-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: $button-background-color;

  width: 40px;
  height: 40px;

  border-radius: 100%;
  border: 1px solid transparent;

  &:hover,
  &:focus {
    background: $light-color;
    border: 1px solid $accent-color;
  }

  @include tablet {
    height: 44px;
    width: 44px;
  }

  @include desktop {
    height: 48px;
    width: 48px;
  }
}

.catalog-message {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 1.4;
  color: $light-color;
  margin-bottom: 20px;
  text-align: center;
  margin: auto;
  padding-top: 48px;

  @include tablet {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 24px;
    padding-top: 80px;
  }

  @include desktop {
    font-size: 32px;
    line-height: 1.12;
    margin-bottom: 28px;
    padding-top: 120px;
  }
}

/* Стилі для кнопки очищення (початково прихована) */
.catalog-input-container {
  position: relative;
  display: inline-block;
}

.catalog-clear-search-btn {
  // display: none;
  position: absolute;
  top: 0;
  right: 18px;
  padding: 11px 11px;
  background-color: transparent;
  width: 18px;
  height: 18px;
  background: none;
  border: none;

  @include tablet {
    padding: 13px 13px;
  }

  @include desktop {
    padding: 15px 15px;
    right: 20px;
  }
}

.catalog-gallery-clear-icon {
  stroke: $color-subtitles;
}

.catalog-gallery-icon {
  width: 12px;
  height: 12px;
}

.catalog-gallery-btn:hover .catalog-gallery-icon,
.catalog-gallery-btn:focus .catalog-gallery-icon {
  --color1: #f87719;
}

.catalog-gallery {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 20px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 28px;
    margin-bottom: 44px;
  }

  @include desktop {
    column-gap: 15px;
    row-gap: 32px;
    margin-bottom: 24px;
    margin-bottom: 60px;
  }
}

/* Пагінація */

.catalog-gallery-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;

  margin-left: auto;
  margin-right: auto;

  @include tablet {
    gap: 16px;
  }
}

.tui-page-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  line-height: 1;

  width: 24px;
  height: 24px;

  border-radius: 100%;
  border: 1px solid $color-subtitles;

  background-color: transparent;

  @include tablet {
    font-size: 14px;

    width: 40px;
    height: 40px;
  }
}

.tui-is-selected {
  background: $button-background-color;

  border: none;

  color: #fff;
}

.tui-prev::after,
.tui-next::after {
  content: '';

  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(180deg);

  width: 6px;
  height: 11px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include tablet {
    width: 8px;
    height: 16px;
  }
}

.tui-prev::after {
  background-image: url(../images/icon/left-arrow.svg);
}

.tui-next::after {
  background-image: url(../images/icon/right-arrow.svg);
}

.tui-next-is-ellip,
.tui-prev-is-ellip,
.tui-next,
.tui-prev {
  border: none;
}

.tui-first.tui-is-disabled,
.tui-last.tui-is-disabled {
  display: none;
}

.tui-prev {
  order: 1;
}

.tui-first {
  order: 2;
}

.tui-num-page,
.tui-order-next-ellip,
.tui-order-prev-ellip {
  order: 3;
}

.tui-next {
  order: 5;
}

.tui-last {
  order: 4;
}
