.hero-catalog {
  padding-top: 40px;
  min-height: 500px;
  background-color: $dark-color;

  position: relative;

  @media screen and (min-width: 768px) {
    padding-top: 62px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 118px;
    height: 660px;
  }
}

.hero-picture {
  position: absolute;
  right: 0;
  top: 0;

  background-repeat: no-repeat;
  background-position: right;

  @media screen and (min-width: 768px) {
    padding-top: 62px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 169px;
    height: 660px;
  }
}

.hero-stars {
  margin-bottom: 20px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 28px;
  }
}
